{% import "Frontend::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Frontend::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% import "Frontend::Basket.Macros.AddToBasket" as AddToBasket %}

{{ Twig.import("LayoutContainer", "Frontend::PageDesign.Macros.LayoutContainer") }}
{{ Twig.import("AddToBasket"    , "Frontend::Basket.Macros.AddToBasket") }}

{% set customClass = widget.settings.customClass.mobile %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "",spacingSettings.customMargin.mobile) %}

{% set buttonSize = widget.settings.buttonSize.mobile | default("") %}
{% set appearance = widget.settings.appearance.mobile | default("primary") %}

<div class="widget widget-add-to-basket widget-{{ appearance }}
    {% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}
    {% if customClass | length > 0 %} {{ customClass }}{% endif %}"
    {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Frontend::SingleItem.BeforeAddToBasket", Twig.var("item.documents[0].data")])) }}

    <intersect>
        <div class="w-100">
            <single-add-to-basket
                    button-size="{{ buttonSize }}"
                    padding-classes="{{ spacingPadding }}"
                    padding-inline-styles="{{ inlinePadding }}">
            </single-add-to-basket>
        </div>

        <template #loading>
            <button class="btn btn-block btn-primary btn-appearance">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                {{ Twig.trans("Frontend::Template.singleItemAddToBasket") }}
            </button>
        </template>
    </intersect>

    {{ Twig.print(Twig.call("LayoutContainer.show", ["Frontend::SingleItem.AfterAddToBasket", Twig.var("item.documents[0].data")])) }}
</div>
