{% extends getPartial('page-design') %}

{% import "Frontend::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('Frontend::Template.cancellationFormMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_cancel_form") }}">
    <title class="d-print-none">{{ trans("Frontend::Template.cancellationForm", {"hyphen": ""}) }} | {{ trans("Frontend::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {% set withdrawalForm = services.legalInformation.getWithdrawalForm() %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-12 mb-5">
                {% autoescape false %}
                    <h1 class="pt-3">{{ trans("Frontend::Template.cancellationForm", {"hyphen": "&shy;"}) }}</h1>
                {% endautoescape %}

                <hr class="my-5">

                {% if withdrawalForm.htmlText %}
                    {{ withdrawalForm.htmlText | raw }}
                {% else %}
                    <p>{{ withdrawalForm.plainText }}</p>
                {% endif %}

                {{ LayoutContainer.show("Frontend::StaticPages.CancellationForm") }}

				<hr class="my-5 d-print-none">

				<div class="col-12 col-md-12 px-0 d-print-none">
					<button type="submit" class="btn btn-primary btn-medium float-right" onclick="window.print()">
						<i class="fa fa-print" aria-hidden="true"></i> 
						{{ trans("Frontend::Template.cancellationFormPrint") }}
					</button>
				</div>
            </div>
        </div>
    </div>


{% endblock %}
